.main {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/abstractBg.jpg");
    background-attachment: fixed;
    padding-bottom: 1px;
}

.feedbackContainer {
    margin: 35px 40px;
    padding: 30px 40px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.feedbackContainer .feedbackHeader h1 {
    font-size: xx-large;
    color: #002e33;
    font-weight: 900;
    overflow-wrap: anywhere;
}

.feedbackContainer hr {
    margin: 20px auto;
    border-width: 0.5px;
    border-color: #002e33;
    background-color: #002e33;
}

.feedbackContainer .feedback .message {
    font-size: medium;
    border-radius: 7px;
    padding: 10px;
    margin: 20px 0;
}
.feedbackContainer .feedback .message.error {
    color: #ff6666;
    border: 1px #ff6666 solid;
    background-color: rgba(255, 0, 0, 0.15);
}
.feedbackContainer .feedback .message.success {
    color: #198754;
    border: 1px #198754 solid;
    background-color: rgba(0, 255, 0, 0.15);
}

.feedbackContainer .feedback div h2 {
    font-size: large;
    color: #002e33;
    font-weight: 900;
    margin-bottom: 10px;
}

.feedbackContainer .feedback .formGroup {
    width: 100%;
}

.feedbackContainer .feedback .formGroup textarea {
    background-color: rgb(255, 255, 255, 0.8);
    color: #000;
    font-size: medium;
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 10px;
    transition: border 0.3s ease-in-out;
}
.feedbackContainer .feedback .formGroup textarea:hover:enabled,
.feedbackContainer .feedback .formGroup textarea:focus:enabled {
    border: 1px #00a1b3 solid;
}
.feedbackContainer .feedback .formGroup textarea::placeholder {
    color: #555;
}

.formButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 7px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #008a99;
    width: 250px;
    transition: background-color 0.3s ease-in-out;
}
.formButton:hover:enabled {
    background-color: #007380;
}
.formButton:disabled {
    opacity: 0.5;
}

@media only screen and (max-width: 800px) {
    .feedbackContainer {
        margin: 25px 30px;
        padding: 20px 30px;
    }

    .feedbackContainer hr {
        margin: 15px auto;
    }

    .feedbackContainer .feedback .message {
        padding: 7px;
        margin: 15px 0;
    }

    .feedbackContainer .feedback div h2 {
        margin-bottom: 7px;
    }

    .feedbackContainer .feedback .formGroup textarea {
        margin-bottom: 7px;
        padding: 7px;
    }

    .formButton {
        margin-top: 7px;
        padding: 7px 15px;
        width: 240px;
    }
}

@media only screen and (max-width: 600px) {
    .feedbackContainer {
        margin: 20px 25px;
        padding: 15px 25px;
    }

    .feedbackContainer .feedbackHeader h1 {
        font-size: x-large;
    }

    .feedbackContainer hr {
        margin: 10px auto;
    }

    .feedbackContainer .feedback .message {
        font-size: small;
        padding: 5px;
        margin: 10px 0;
    }

    .feedbackContainer .feedback div h2 {
        font-size: medium;
        margin-bottom: 5px;
    }

    .feedbackContainer .feedback .formGroup textarea {
        margin-bottom: 5px;
        padding: 5px;
    }

    .formButton {
        margin-top: 5px;
        padding: 5px 10px;
        width: 100%;
    }
}
